/*
WeChat Subscribers Lite
*/

/* = Admin CSS
-------------------------------------------------------------- */
.clear{
	clear: both;
}
.icon-wpwsl-lg{
	display: block;
	padding: 80px;
	background: transparent url('../img/wpwsl_icon_144.png') no-repeat 0 0;
}
.edit-template-form{
	margin: 20px;
}
.edit-template-form h3{
	border: 0;
}
.edit-template-form hr{
	margin: 15px 0;
}
.header_func a{
	font-size: 1.5em;
}
.msg-box{
	padding:30px;
	margin: 20px 0;
	background: #f7f7f7;
	border:1px solid #ccc;
	border-radius: 5px;
}
.phmsg_sync_link .button{
    border-radius:30px;
}
.phmsg_sync_link a>img{
	position:relative;
    top:4px;
    margin-right:1px;
}
.deslist{
	margin-left: 20px;
	font-size: 9pt;
	list-style:disc;
}
.func-msg-box{
	width: 45%;
	text-align: right;
	float: right;
}

.up-msg-box-btn{
	padding: 16px;
	background: transparent url('../img/up.png') no-repeat center center;
}

.down-msg-box-btn{
	padding: 16px;
	background: transparent url('../img/down.png') no-repeat center center;
}

.remove-pic-btn{
	/*display: none;	*/
}

.func-footer{
	text-align:right;
}
#phmsg-base .func-msg-box, #phmsg-base .func-footer{
	display: none;
}

#phmsg-group .msg-box{
	background-color: #efe;
}
.preview-box{
	margin-bottom: 10px;
}
.preview-box img{
	height:200px;
	width:200px;
	background: transparent url('../img/default_img.png') no-repeat 0 0;
}
#phmsg-base .preview-box img,
.preview-box.large img {
	width: 360px;
	height: 200px;
	background: transparent url('../img/default_large_img.png') no-repeat 0 0;
}

.add-phmsg{
	text-align:right;
	margin-bottom:50px;
}

.func-delete{
	padding-top:50px;
	text-align:right;
}

.msg_disabled .msg_highlight, .msg_conflict{
	font-style:italic;
	text-transform: uppercase;
	color: #ccc;
}
.msg_highlight{
	color: #0074a2;
}
.msg_conflict{
	color: red;
}
.msg_disabled{
	color: #ccc;
}

.wp-list-table .column-id {width: 5%;}
.wp-list-table .column-title { width: 40%; }
.wp-list-table .column-type { width: 18%; }
.wp-list-table .column-date { width: 12%; }
.wp-list-table .column-keywords { width: 25%;}



/*insert url or post content style*/
#paginate_div{
    margin-top:12px;
}
.page-numbers{
    display:inline-block;
    width:20px;
    height:19px;
    border-radius:4px;
    border:1px solid #AAAAAA;
    text-align:center;
    font-size:12px;
    text-decoration:none;
    padding:0px 0px 1px 0px;
}

.page-numbers:hover{
    background:#2EA2CC;
    color:#FFFFFF;
}
#paginate_div .current:hover{
    background:#FFFFFF ;
    color:#666;
}
#dialog_content__container table{
    margin-top:12px;
}
#dialog_content__container table thead{
    background:#F5F5F5;
}

#dialog_content__container table tr td{
    border-bottom: 1px solid #DDD;
}
#dialog_content__container table tr:hover{
    background:#F5F5F5;
}

#dialog_content__container select{
    height: 26.9px;
    padding-top:1px;
}
#post-search-key{
	padding-bottom: 1px !important;
}
#post-search-submit{
	position: relative;
	top:0px;
}
#easyDialogWrapper{
	position: relative;
}
#easydialog_close{
	position: absolute;
	text-decoration: none;
	font-size: 25px !important;
	color: #555;
	top: 5px;
	margin: 0px;
	padding: 0px;
	right: 7px;
}
#easydialog_close:hover{
    color:#2EA2CC;
}
#dialog_content__container{
	min-height: 320px;
}
.insert_content_to_input{
	font-weight: 900;
}
#clear_all_records{
	color:#0074A2 !important;
}
#clear_all_records:hover{
	color:#FFFFFF !important;
}
{
    height: 26.9px;
    padding-top:1px;
}
#dialog_content__container input{
    margin-top:1.5px;
}
#easyDialogWrapper{
	position: relative;
}
#easydialog_close{
	position: absolute;
	text-decoration: none;
	font-size: 25px !important;
	color: #555;
	top: 5px;
	margin: 0px;
	padding: 0px;
	right: 7px;
}
#easydialog_close:hover{
    color:#2EA2CC;
}
#dialog_content__container{
	min-height: 320px;
}
.insert_content_to_input{
	font-weight: 900;
}
#clear_all_records{
	color:#0074A2 !important;
}
#clear_all_records:hover{
	color:#FFFFFF !important;
}
